/* this is where css goes for the entire webpage / multiple parts */
*{
    /* outline: 1px dashed red; */
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.header, .section-1, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

body > div{
    padding: 50px 100px; 
}

button{
    border-color:  #e5e7eb;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    background-color: #3882F6;
    color: #e5e7eb;

}

/* This is for the heading bar */

.header, .header-links{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-logo{
    font-size: 24px;
    font-weight: 900;
    padding: 20px 0px;
    color: #F9FAF8;
}
.header-links{
    margin-left: auto;
    padding: 20px 0px;
    gap: 10px;
    font-size: 18px;
    font-weight: 100;
}
.header-links > div{
   outline: 1px solid white; 
   padding: 2px;
}

/* This is for the section 1 */
.section-1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.s1-left{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.section-1 > div {
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 50%;
}

.hero{
    font-size: 48px;
    font-weight: 1000;
}

.sub-hero{
    font-size: 18px;
    font-weight: 100;
}

.s1-right{
    display: flex;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
}

/* This is for the section 2 */
.section-2{
    display: flex;
    flex-direction: column;
}
.s2-title{
    display: flex;
    justify-content: center;
}
.s2-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-and-text-container{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 100px;
}

.box{
    height: 100px;
    width: 100px;
    outline: 2px solid #3882F6;
    border-radius: 10px;
}
.text{
    text-align: center;
}

/* This is for the section 3 */
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #e5e7eb;
}

.s3-container{
    display: flex;
    flex-direction: column;
}

.s3-quote{
    max-width: 800px;
    font-size: 30px;
    font-style: italic;
}

.s3-author{
    max-width: fit-content;
    margin-left: auto;
    font-weight: 900;
    font-size: 20px;

}

/* This is for the section 4 */
.section-4{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.s4-box{
    display: flex;
    padding: 40px 20px;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 10px;
}

.s4-inside-top-left{
    color: white;
    font-size: 24px;
    font-weight: 900;
}
.s4-inside-bottom-left{
    color: white;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}

.s4-inside-right{
    display: flex;
    align-items: center;
}
/* This is for the footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 50;
    padding: 20px 0px;
}